/* General styles */
body {
  font-family: Arial, sans-serif;
  margin:  0;
  padding: 0;
  overflow: scroll;
  padding-top: 60px;
  margin-bottom: 90px;
  background-color:#f5f5f5;
}



body.dark {
  background-color: #1a1717;
  color: #fff;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  color: #000;
}

body.dark h2 {
color: #fff; 
}


/*Head*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(10, 6, 119);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

header.dark {
background-color:  rgb(6, 5, 29);
color: #fff;
}

.tab-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  margin-left: 0%;
  padding-left: 155px;
  
}

.tab-container a {
color:  #fff;
text-decoration: none;
}


.tab-container li {
padding: 1.5px;
}

/* Dark mode Tab Container styles */
body.dark .tab-container {
background-color: rgb(6, 5, 29);
color: #fff; 
}

body.dark .tab-container a {
color: #fff; 
}

header .tab-container a:hover {
box-shadow: 0 0 8px 3px ; 
color: #ADD8E6; 
padding: 1.5px;
}

.tab-content section {
display: none;
padding: 20px;
}

.tab-content section:target {
display: block;
}

.tab-content h2 {
margin: 2px;
}


.info-button-currency {

bottom: 20px;
padding: auto;

}

.info-button-present {

bottom: 20px;
padding: auto;

}

.info-button-future {

bottom: 20px;
padding: auto;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: right;
}

nav ul li {
  color: #fff;
  margin: 10px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/*Saved style*/
h3 {
  background-color:  #e0dbdb;
  width: 1050px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Dark mode specific styles */
body.dark h3 {
color: #fff; 
background-color: #333; 
}
  
h2 {
background-color:  #e0dbdb;
width: 700px;
padding: 10px 10px 10px 10px; 
border-radius: 5px; 
padding-right:  0px; 
top: 12px;	
}

/* Dark mode specific styles */
body.dark h2 {
color: #fff; 
background-color: #333; 
}

/*Currency Conversion*/
.currency-input {
display: flex;
flex-direction: column;
align-items: center;
margin: 7px;
}

.currency-input input{
width: 340px;
}

.buttons-container {
display: flex;
justify-content: left;
margin: 0px;
}


.li {
margin: 30px;
}

/*switch settings*/
.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 45px;
  --switch-height: 24px;
  /* circle */
  --circle-diameter: 24px;
  --circle-bg: rgb(58, 62, 68);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  left: 140px; 
  
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */
.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* home */
.home-link {
  background-color: rgb(10, 6, 119);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none; /* Remove underline */
}
.home-link:hover {
background-color: #3b82f6;
box-shadow: 0 0 0 5px #3b83f65f;
color: #fff;
}

/* Dark mode specific styles for .home-link */
body.dark .home-link {
background-color: rgb(6, 5, 29); 

}

body.dark .home-link:hover {
background-color: #3b83f65f;

}
.info-link {
  color: black;      
  font-weight: bold; 
  text-decoration: none; 
}

body.dark .info-link {
color: #fff; 

}

#share-container span {
display: inline-block;
margin: 3rem auto;
font-size: 50px;
padding: 1rem;
margin: 1rem;
}
#share-buttons i {
font-size: 100px;
margin: 20px;
}
.facebook {
color: #3b5998;
}
.twitter {
color: #55acee;
}
.linkedin {
color: #0077b5;
}
.reddit {
color: #cb2027;
}
.whatsapp {
color: #25D366;
}
.telegram {
color: #229ED9;
}
.facebook, .twitter, .linkedin, .reddit, .whatsapp, .telegram {
opacity: 0.6;
}
.facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover, .whatsapp:hover, .telegram:hover {
opacity: 0.9;
}
.share-container {
display: inline-block;
position: relative;
}

.popup {
display: none;
position: absolute;
top: 100%;
left: 0;
background: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 10px;
z-index: 1;
}

/* Currency converter styles App */
.converter {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
}

.mode-switch {
  text-align: left;
}

button {
  background-color: rgb(10, 6, 119);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
background-color: #3b82f6;
box-shadow: 0 0 0 5px #3b83f65f;
color: #fff;
}

/* Dark mode button styles */
body.dark button {
background-color: rgb(6, 5, 29); /* Darker background for buttons */
color: #fff;
border: none;
padding: 10px 20px;
margin: 5px;
cursor: pointer;
border-radius: 10px;
}

body.dark button:hover {
background-color: #3b83f65f; /* Slightly lighter background for hover in dark mode */
box-shadow: 0 0 0 5px #3b83f65f;
color: #fff;
}


select, input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid transparent;
  outline: none;
  overflow: hidden;
  background-color: #efecec;
  border-radius: 10px;
  transition: all 0.5s;
}

select , input:hover,
select, input:focus {
border: 3px solid  rgb(10, 6, 119);
box-shadow: 0px 0px 0px 7px rgba(62, 151, 234, 0.2);
background-color: white;
}

/* Informationen*/
#info {
  display: none;
  background-color: #1a1717;
  border: 1px solid #d4d2d2;
  padding: 20px;
  margin-top: 20px;
}

#info p {
  margin-bottom: 10px;
  color: #6c1515;
}

#menu-currency ul {
  list-style: none;
  text-align: right;
  margin-top: 20px;
  padding-right: 20px;
}

#menu-currency li {
  display: inline;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

#menu-present ul {
list-style: none;
text-align: right;
padding-right: 20px;
top: 200px;

}

#menu-present li {
display: inline;
font-weight: bold;
cursor: pointer;
}

.Favorit_conversions-list {
list-style-type: none;
padding: 0;
margin: 0;
}

.Favorit_conversions-list h3 {
font-size: 18px;
margin-bottom: 10px;
color: #333;
}
.Favorit_conversions-list li {
margin-bottom: 8px; /* Abstand zwischen den Elementen */
}

/*Input Feld Betrag eingeben*/
.amount-container {
position: relative;
margin: 7px;
width: 400px;
}

.amount-container .amount[type="number"] {
font-size: 20px;
width: 100%;
border: none;
border-bottom: 2px solid #ccc;
padding: 2px 0;
background-color: transparent;
outline: none;
}

.amount-container .label {
position: absolute;
top: 12px;
left: 10px;
color: #ccc;
transition: all 0.3s ease;
pointer-events: none;
font-size: 17px;
}

.amount-container input[type="number"]:focus ~ .label,
.amount-container input[type="number"]:valid ~ .label {
top: -30px;
font-size: 19px;
color:black;
}

.amount-container .underline {
position: absolute;
bottom: 0;
left: 20px;
width: 100%;
background-color: #333;
transform: scaleX(0);
transition: all 0.3s ease;
}

.amount-container input[type="number"]:focus ~ .underline,
.amount-container input[type="number"]:valid ~ .underline {
transform: scaleX(1);
}


.wrapper {
width: 700px;
background: rgb(255, 255, 255);
padding: 20px;
margin: 0 auto;
margin-bottom: 35px;
margin-top: 20px;
}

body.dark .wrapper {
  background-color: #2a2a2a; 
  color: #ffffff; 
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2); 
  }


.drop-list {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 15px;
}

.drop-list .select-box{
  display: flex;
  width: 325px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  border: 0.5px solid #999;
  padding: 1px;
}

.select-box select{
  width: 100%;
}

.Currency input {
  width: 100%;
  margin: 10px 0;
  border: 2px solid transparent;
  outline: none;
  overflow: hidden;
  background-color: #efecec;
  border-radius: 10px;
  transition: all 0.5s;
}


.select-box, .Currency:hover,
.select-box, .Currency,select {
border: 3px solid  rgb(255, 255, 255);
box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
border-color: rgb(0, 113, 235);
background-color: white;
border: 1.5px solid #999;
}


.select-box, .Currency:focus {
  border-color: rgb(0, 113, 235);
}
  

.select-box img{
max-width: 50px;
padding-right: 5px;

}


.wrapper .drop-list .reverse-convert {
font-size: 30px;
margin-top: 45px;

}

.amount-container {
display: flex;
justify-content: center;
align-items: left;
margin: 35px;
right: 40px;
}

.amount-container input,
.amount-container button {
margin: 3px;
}


/* Result container */
.result {
display: flex;
flex-direction: column;
align-items: flex-start;
}

/* Result content */
.result_content {
display: flex;
align-items: center;
}

/* Result text */
#result_text {
font-size: 18px;
font-weight: bold;
margin-right: 10px; /* Fügt Abstand zwischen "Ergebnis" und "Getting exchange rate..." hinzu */
}

/*Exchange rate*/
.exchange_rate {
font-size: 20px;
font-weight: bold;
color:  rgb(10, 6, 119);
padding-top: 0px;
}

/* Button row */
.button-row {
display: flex;
align-items: center;
}

.button-row-present {
display: flex;
align-items: center;
}

.button-row-future {
display: flex;
align-items: center;
}

button {
margin-right: 10px; /* Fügt horizontalen Abstand zwischen den Buttons hinzu */
}

/* Calculator Style */
#calculator-future {
width: 60%;
padding: 2px;
margin: 0 auto; /* This centers the calculator horizontally */
display: flex;
flex-direction: column;
justify-content: center; /* This centers the calculator vertically */
align-items: center; /* This centers the calculator horizontally and vertically */
}

#calculator-future div {
display: flex;
align-items: center;
}

#calculator-future label {
margin-right: 10px;
}

#calculator-future input[type="radio"] {
margin-right: 5px;
}


#calculator-present {
width: 50%;
padding: 2px;
margin: 0 auto; /* This centers the calculator horizontally */
display: flex;
flex-direction: column;
justify-content: center; /* This centers the calculator vertically */
align-items: center; /* This centers the calculator horizontally and vertically */
}

#calculator-present div {
display: flex;
align-items: center;
}

#calculator-present label {
margin-right: 10px;
}

#calculator-present input[type="radio"] {
margin-right: 5px;
}

#interest-rate-input input[type="radio"], #periodic-inflation-rate input[type="radio"] {
margin-left: 3px; /* Adjust as needed to move the radio button closer to the label */
margin-right: 0;
padding-left: 20px; /* Adjust as needed for additional spacing */
padding-right: 2px;
width: 100px; /* Adjust as needed to set the width of the radio button */
}

.input-wrapper {
display: flex;
align-items: center; /* Align items vertically */
}

/* Adjust the width of the input element */
#periodic-interest-rate-manual-future {
width: 80px; /* You can adjust the width according to your preference */
margin-right: 5px; /* Adjust spacing between input and symbol */
}

.input-symbol {
font-size: 14px; /* Adjust font size of the symbol */
}

.compound-checkbox {
align-items: center;
margin-bottom: 10px;
width: 400px;
}

.compound-checkbox label {
width: 310px;
display: inline-block;
margin-left: 90px;
}

.compound-checkbox input[type="checkbox"] {
margin-right: 100px;
margin-left: 0;
padding: 0;
width: 50px; /* Adjust as needed to set the width of the checkbox */
}

#compound-period {
display: flex;
align-items: center;
width: 100px;
margin-left: -595px;
}

#compound-period label {
white-space: nowrap;
margin-bottom: 10px;
margin-left: 0;
font-weight: normal; /* Set default font weight to bold for the compound-period label */
}

#beginning-of-period input[type="radio"],
#end-of-period input[type="radio"] {
margin-left: 5px; /* Adjust the left margin to move the radio button closer to the label */
margin-right: 3px; /* Adjust the right margin for spacing between radio buttons and labels */
vertical-align: middle; /* Optional: Adjust vertical alignment as needed */
padding: 0; /* Optional: Adjust padding */
width: 5px; /* Adjust as needed to set the width of the radio button */
}

#end-of-period-label,
#beginning-of-period-label {
font-weight: normal; /* Set default font weight to normal for radio button labels */
display: inline-block;
}

/* Set font weight to bold for radio button labels when checked */
#end-of-period:checked ~ #end-of-period-label,
#beginning-of-period:checked ~ #beginning-of-period-label,
#manual-interest-rate:checked + label[for="manual-interest-rate"],
#automatic-interest-rate:checked + label[for="automatic-interest-rate"],
#manual-inflation-rate:checked + label[for="manual-inflation-rate"],
#automatic-inflation-rate:checked + label[for="automatic-inflation-rate"] {
font-weight: bold;
}

#result-future,
#result-present {
font-weight: bold;
font-size: 18px;
text-align: left; /* Align text to the left */
margin-top: 20px;
margin-right: auto; /* Add right margin to move it to the left */
margin-left: 0; /* Set left margin to 0 to ensure it's aligned to the left */
line-height: 1;
}

#result-future span {
vertical-align: middle; /* Align the span content vertically */
margin: 0; /* Reset margin */
padding: 0; /* Reset padding */
}

/* Style for the list items */
#results-list-future li {
display: flex; /* Use flexbox */
align-items: center; /* Align items vertically */
}

/* Style for the checkbox */
#results-list-future li input[type="checkbox"] {
margin-right: 8px; /* Adjust the margin between checkbox and text */
width: 16px; /* Set the width of the checkbox */
height: 16px; /* Set the height of the checkbox */
padding: 0; /* Remove default padding */
margin-top: 2px; /* Adjust the top margin to align with the text */
}

/* Style for the list items */
#results-list-present li {
display: flex; /* Use flexbox */
align-items: center; /* Align items vertically */
}

/* Style for the checkbox */
#results-list-present li input[type="checkbox"] {
margin-right: 8px; /* Adjust the margin between checkbox and text */
width: 16px; /* Set the width of the checkbox */
height: 16px; /* Set the height of the checkbox */
padding: 0; /* Remove default padding */
margin-top: 2px; /* Adjust the top margin to align with the text */
}

/* Style for the list items and checkboxes */
.favorite-list-present li, .favorite-list-future li, label {
list-style: none;
display: flex;
align-items: center;
margin-bottom: 5px;
}

.favorite-list-present li input[type="checkbox"], .favorite-list-future li input[type="checkbox"], input[type="checkbox"] {
margin-right: 8px; /* Adjust the margin between checkbox and text */
width: 16px; /* Set the width of the checkbox */
height: 16px; /* Set the height of the checkbox */
padding: 0; /* Remove default padding */
margin-top: 2px; /* Adjust the top margin to align with the text */
}

#results-list-currency {
list-style: none; /* Remove default bullet points */
padding: 0; /* Remove default padding */
}

#results-list-currency li {
display: flex; /* Use flexbox for layout */
align-items: center; /* Align items vertically */
margin-bottom: 5px; /* Add margin between list items */
}

#results-list-currency li input[type="checkbox"] {
margin-right: 10px; /* Adjust the spacing between the checkbox and list item content */
}

#favorite-list-currency {
list-style: none; /* Remove default bullet points */
padding: 0; /* Remove default padding */
}

#favorite-list-currency li {
display: flex; /* Use flexbox for layout */
align-items: center; /* Align items vertically */
margin-bottom: 5px; /* Add margin between list items */
}

#favorite-list-currency li input[type="checkbox"] {
margin-right: 10px; /* Adjust the spacing between the checkbox and list item content */
}





/* CSS for radio buttons and input elements */
.radio-buttons {
display: flex;
align-items: center;
}

.radio-buttons label {
margin-right: 10px;
}

.radio-buttons input[type="radio"] {
margin-right: 5px;
}

.input-container-future {
display: flex;
}

.input-column-future {
flex: 1;
}

.input-wrapper-future {
display: flex;
align-items: center;
}

.two-column {
display: flex;
text-align: right;
}


.language {
position: relative;
font-weight: bold;
right: 130px;
}

.language-selected {
display: flex;
align-items: center;
color: #fff;
cursor: pointer;
padding-left: 40px; /* Added padding for the flag */
padding-bottom: 5px; 
position: relative; /* Add relative positioning */
}

.language-selected::before {
content: '';
display: inline-block;
width: 30px;
height: 30px;
background-size: contain;
background-repeat: no-repeat;
margin-right: 5px;
}

.change-de.language-selected::before {
background-image: url(https://flagcdn.com/48x36/de.png);
}

.change-en.language-selected::before {
background-image: url(https://flagcdn.com/48x36/us.png);
}

.language ul {
position: absolute;
width: 110px;
background-color: #fff;
border: 1px solid #b2b0b0;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
box-shadow: 0px 1px 10px rgb(0,0,0,0.5);
display: none;

}

.language ul li {
list-style: none;
}

.language ul li a {
display: block;
color: #252525;
padding: 2px ; /* Adjust padding */
}


.language ul li:hover {
background-color: #f8f8f8;
}

.language ul li a::before {
content: '';
display: inline-block;
width: 25px;
height: 25px;
background-size: contain;
background-repeat: no-repeat;
vertical-align: middle;
margin-right: 10px;
}

a.en::before {
background-image: url(https://flagcdn.com/48x36/us.png);
}

a.de::before {
background-image: url(https://flagcdn.com/48x36/de.png);
}

.language:hover ul {
display: block;
right: -1px;
top: 15px;	
}

/*Cryptocurrency*/


input[type=text] {
    width: 87%;
    margin: auto;
    display: block;
    font-size: 1rem;
    background: none;
    line-height: 1.5;
    padding: 12px;
    border-radius: 6px;
    color: #141e37;
    border: 1px solid rgb(221, 221, 221);
}

input[type=text]:focus {
    border-color: rgb(0, 113, 235);
}

#select-field {
    display: flex;
    justify-content: space-between;
}

#fromCurrencyName {
    margin-top: 0;
    font-size: 16px;
    color: #667c99;
    font-weight: 600;
    display: inline-block;
    margin: 15px 40px 7.5px;
}

#fromCurrency {
    width: 40%;
}

::placeholder {
    font-size: 1rem;
    color: rgb(20, 30, 55);
}

select {
    margin: auto;
    display: block;
    font-size: 1rem;
    padding: 12px;
    background: none;
    border-radius: 6px;
    color: rgb(20, 30, 55);
    border: 1px solid rgb(221, 221, 221);
}

select:focus {
    border-color: rgb(0, 113, 235);
}

#result {
    color: #141e37;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#fromCurrency {
  width: 38%;
}

select {
  width: 38%;
}

#fromCurrencyName {
  margin: 15px 22px 7.5px;
}
/* Footer */
footer {
  background-color:  rgb(10, 6, 119);
  color: white;
  text-align: center;
  position: relative;
  bottom: -100px;
  padding: 1px;
  }
  
  body.dark footer {
  background-color: rgb(6, 5, 29); 
  color: #fff; 
  
  }